# PlatformIO
.pio/
.env
.vscode/

# Игнорировать папки сборки
/build/
# Игнорировать файлы кэша и временные файлы
*.d
*.o
*.out
*.elf
*.hex
*.map
*.lst

# Игнорировать файлы настроек IDE
.idea/
*.code-workspace

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы зависимостей
*.lib
*.a
*.so
*.dll

# Игнорировать лог-файлы
*.log

# Игнорировать файлы, сгенерированные библиотеками
lib_deps/
